<div class="mat-card-container">
  <mat-card class="employee-card mat-elevation-z4" *ngFor = "let employee of employees" >
    <mat-card-header>
      <img mat-card-avatar class="avatar-header-image">
      <mat-card-title-group>
        <mat-card-title>{{ employee.userName }}</mat-card-title>
        <mat-card-subtitle>{{ employee.position }}</mat-card-subtitle>
      </mat-card-title-group>
      <button class="top-corner close-card" (click)="deleteEmployee(employee)">&#x2715;</button>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ employee.about }}
      </p>
    </mat-card-content>
    <mat-card-footer class="footer-padding"><span class="pink-color">JOINING DATE:</span> {{ employee.joiningDate | date: "dd/MM/yy" }}</mat-card-footer>
  </mat-card>
</div>